*{
    padding: 0;
    margin: 0;
}
body{
    position: relative;
}
.main-Box{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative; 
  background-image: url("typing-img2.jpg");
  overflow: hidden; 
  padding: 0 0 22rem;
  margin-top: -10rem;
}
#home{
    margin-left: 5%;
    display: flex;
}
#Key_img{
    width: 100%;
    height: 90%;
    padding-left: 22%;
    padding-top: 3.5%;
    border-radius: 0.5rem;
}
.navbar-inverse{
    top: 0;
}
h2{
    font-family: 'Montserrat';
}
p{
    color: #8f8f8f;
    font-size: large;
}
.navbar-nav{
   padding-top: 1.8rem;
}
.navbar-brand
{
    padding-left: 5rem;
}
.container-fluid{
    margin-left: 4% !important;
    margin-right: 5% !important;
}
/* -----------about section---------- */
#about{
    text-align: center;
    width: 65%;
    margin-left: 17%;
    line-height: 2;
    font-size: 1em;
    padding: 0 0 10rem;
    padding-top: 3.5rem;
}
.p-about{
    padding-top: 1.5rem;
    font-size: large;
    color: #8f8f8f;
}
/* ----------footer section--------- */
#footer{
    padding: 5% 15%; 
    text-align: center;
    background-color: #F7A4A4;
}
.social{
    margin:20px 10px ;
}